<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <%- include('blocks/header.ejs') -%>

    <span class="infBlock">ID: <%= id %></span>
    <span class="infBlock">Name: <%= name %></span>
    <span class="infBlock">Surname: <%= surname %></span>
    <span class="infBlock">Age: <%= age %></span>
    <img class="infBlock" src="<%='/qrcode/User' + id + 'qrcode.png' %>" />
</body>
</html>